.listas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  list-style: none;
  background-color: blueviolet;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}

.task {
  padding-left: 10px;
}

.cp__active--task {
  Text-decoration: line-through;
}